<section id="form-container">
  <div id="form-sidebar" #banerElement [@banerAnim]="animateState">
   <div class="step-container">
    <div class="form-sidebar-steps-blocks">
      <div>
        <span [ngClass]="{'current-step': currentStep === 1}">1</span>
      </div>
      <div class="step-description">
        <p>STEP 1</p>
        <h3>YOUR INFO</h3>
      </div>
    </div>
    <div class="form-sidebar-steps-blocks">
      <div>
        <span [ngClass]="{'current-step': currentStep === 2}">2</span>
      </div>
      <div class="step-description">
        <p>STEP 2</p>
        <h3>SELECT PLAN</h3>
      </div>
    </div>
    <div class="form-sidebar-steps-blocks">
      <div>
        <span [ngClass]="{'current-step': currentStep === 3}">3</span>
      </div>
      <div class="step-description">
        <p>STEP 3</p>
        <h3>ADD-ONS</h3>
      </div>
    </div>
    <div class="form-sidebar-steps-blocks">
      <div>
        <span [ngClass]="{'current-step': currentStep === 4 || currentStep === 5}">4</span>
      </div>
      <div class="step-description">
        <p>STEP 4</p>
        <h3>SUMMARY</h3>
      </div>
    </div>
   </div>
  </div>
  <div id="form-content">
    @if (currentStep === 1) {
      <app-step-one class="step-container" (nextStep)="onNextStep($event)" #stepOneSection [@formStepOneAnim]="animeStateStep" />
    }@else if (currentStep === 2) {
      <app-step-two class="step-container" (nextStep)="onNextStep($event)" #stepTwoSection [@formStepTwoAnim]="animStateStepTwo" />
    }@else if (currentStep === 3) {
      <app-step-three class="step-container" (nextStep)="onNextStep($event)" #stepThreeSection [@formStepThreeAnim]="animStateStepThree" />
    }@else if (currentStep === 4) {
      <app-step-four class="step-container" (nextStep)="onNextStep($event)" #stepFourSection [@formStepFourAnim]="animStateStepFour" (serverResponse)="onServResponse($event)" />
    }@else if (currentStep === 5 && serverRes) {
      <app-thank-you #stepFiveSection [@formStepFiveAnim]="animStateStepFive" class="step-container" />
    }
  </div>
</section>